body {
  background-color: #e5e5e5;
}
/* wrapper */
.wrapper {
  display: flex;
  flex-direction: row-reverse;
}
h2 {
  font-size: 35px;
}
/* About-me */
.main-content {
  padding: 80px;
}
/* profession */
.profession {
  padding-bottom: 150px;
}
.project-item {
  background-color: yellowgreen;
}
